@import "./colors";

body {
  font-family: "Spartan", sans-serif;
}
/*******************************************NAVIGATION*******************************************/
.navbar {
  background-color: #353b48;
  padding: 0 5%;

  .nav-item a {
    color: $primaryText;
    margin: 0 14px;
    text-transform: uppercase;
    &:hover {
      border-bottom: 1px solid #c23616;
    }
  }
  ul {
    width: 800px;
  }
  img {
    max-width: 25vw;
    max-height: 6vh;
  }
  .navtog {
    border: 1px solid #ffffff;
    border-radius: 3px;

    .navbar-toggler-icon {
      background-color: white;
      width: 25px;
      height: 2px;
      display: flex;
      flex-direction: column;
      margin: 5px;
    }
  }
  .dropdown-menu .dropdown-item {
    color: rgb(7, 7, 7);
    margin: 0;
  }
}

/*******************************************JUMBO*******************************************/
.jumbotron {
  background-color: #ffffff;

  .row-nas {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    .lead {
      width: 90%;
    }

    h1 {
      color: #8c7ae6;
      font-size: 60px;
      font-weight: 800;
      text-shadow: 3px 1px #7b6dc0;
      margin: 0 0 30px 0;
    }
    img {
      width: 500px;
      max-height: 700px;
    }
    .btn {
      color: rgb(7, 7, 7);
      font-size: 20px;
      background: #ffffff;
      margin: 20px 0 40px 0;
      width: 300px;
      min-height: 6vh;
      border: 1px solid $hoverTextLight;
      transition: width 1.2s;
      &:hover {
        width: 370px;
        border: 1px solid #8c7ae6;
      }
      a {
        text-decoration: none;
        color: rgb(7, 7, 7);
      }
    }
  }
}
/********************************************PROZIVODI CARD**********************************************/

.card-pro {
  .card {
    margin: auto;
    height: 450px;
    min-width: 100px;
    box-shadow: 0 8px 6px -6px rgb(39, 39, 39);
  }
  .r {
    border: 8px solid #e1b12c;
  }
  .b {
    border: 8px solid #40739e;
  }
  .g {
    border: 8px solid #8c7ae6;
  }
  .btn {
    color: rgb(7, 7, 7);
    font-size: 22px;
    background: #ffffff;
    margin: 20px 0 40px 0;
    width: 200px;
    min-height: 3vh;
    border: 1px solid $hoverTextLight;
    transition: width 1.2s;
    &:hover {
      width: 220px;
      border: 1px solid #8c7ae6;
    }
    a {
      text-decoration: none;
      color: rgb(7, 7, 7);
    }
  }
}

/*******************************************CAROUSEL*******************************************/
.carousel-inner {
  width: 65%;
  margin: 0 auto 100px;

  img {
    margin: auto;
    max-width: 65%;
    max-height: 60vh;
  }
}
/*******************************************O NAMA*******************************************/
.br {
  width: 60%;
  text-align: center;
  padding: 28px 0;
  border-bottom: 1px solid $hoverTextLight;
  margin: auto;
  margin-bottom: 40px;
  h1 {
    font-weight: 800;
  }
}

.onama {
  width: 70%;
  text-align: center;
  margin: 0 auto 80px;
  font-size: 22px;
  border-bottom: 1px solid $hoverTextLight;
  padding-bottom: 45px;
  width: 60%;

  .btn-primary {
    color: rgb(7, 7, 7);
    font-size: 22px;
    background: #ffffff;
    margin: 20px 0 0 0;
    width: 200px;
    min-height: 6vh;
    border: 1px solid $hoverTextLight;
    transition: width 1.2s;
    &:hover {
      width: 300px;
      border: 1px solid #8c7ae6;
    }
    a {
      text-decoration: none;
      color: rgb(7, 7, 7);
    }
  }
}

.j-onama {
  padding: 15px 0;
  img {
    width: 100%;
  }
  h1 {
    font-weight: 700;
    color: #273c75;
    border-bottom: 1px solid #c23616;
  }
  h3 {
    font-weight: 600;
    color: #c23616;
  }
  p {
    font-size: 18px;
    margin: 20px 0;
    a {
      color: #0097e6;
    }
  }
}
/*******************************************PROIZVODI*******************************************/
.h3proiz {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;

  width: 60%;
  padding-bottom: 45px;
  margin: 0 auto;
}

.proizvodi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 90px;
  padding-bottom: 45px;
  width: 70%;

  border-bottom: 1px solid $hoverTextLight;

  li {
    list-style: none;
    margin: 0 40px;
    text-align: center;
    font-size: 22px;
  }
  a {
    color: #353b48;
    text-decoration: none;
    transition: 1s;
    &:hover {
      color: #c23616;
      padding: 10px 0;
      border-bottom: 2px solid #c23616;
    }
  }
}

.cijenik {
  text-align: center;
  margin-bottom: 20px;
  p {
    font-weight: 700;
    font-size: 27px;
  }
  a {
    color: $primaryText;
    text-decoration: none;

    &:hover {
      color: $hoverTextDark;
    }
  }
  .btn {
    background-color: #8c7ae6;
    min-width: 300px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 10px;
    transition: 1.2s;
    &:hover {
      width: 350px;
      background: #ffffff;
      border: 1px solid #8c7ae6;
    }
  }
}
/*******************************************CARD PROIZVODI*******************************************/
.card-pro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  text-align: center;
  width: 85%;
  margin: 0 auto 100px;

  h5 {
    font-size: 22px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: $parText;
  }
  .btn-primary {
    color: rgb(26, 26, 26);
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: $hoverTextDark;
      border: none;
    }
  }
}

/*******************************************QUESTION*******************************************/
.question {
  text-align: center;
  width: 100%;
  margin: 0 auto 70px;
  min-height: 30vh;
  background-image: linear-gradient(to bottom right, #00a8ff, #273c75);
  background-attachment: fixed;
  padding: 0;

  h1 {
    padding-top: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    color: $primaryText;
  }
}

/*******************************************KONTAKT*******************************************/

.kontakt {
  text-align: center;

  h1 {
    font-weight: 700;
    border-bottom: 1px solid $hoverTextLight;
    padding-bottom: 45px;
    width: 60%;
    margin: 30px auto 0;
  }
  .box {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 45px auto;
    img {
      width: 70px;
      margin-bottom: 25px;
    }
  }

  .box2 {
    h2 {
      font-weight: 700;
      margin: 30px 0;
    }
    img {
      width: 70px;
      margin-bottom: 45px;
    }
    &:hover a img {
      border-radius: 50%;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
    }
  }
}

/*******************************************KONTAKT STRANICA*******************************************/
.kont {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.map {
  iframe {
    width: 60%;
  }
}
/*******************************************FOOTER*******************************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background-color: #353b48;
  color: $primaryText;
  width: 100%;
  padding-top: 10px;
  font-size: 22px;
}

/*******************************************PVC PROZORI*******************************************/

.s89 {
  display: flex;
  width: 60%;
  margin: 25px auto 25px;
  text-align: center;
  align-items: center;
  height: 4vh;
  a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  .s8 {
    width: 50%;
    background-color: #353b48;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
  .s9 {
    width: 50%;
    background-color: #8c7ae6;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}

.naslov {
  padding: 0;
  margin: 0;

  .row-nas {
    align-items: flex-start;
    padding-top: 30px;
    margin-bottom: 30px;
    img {
      max-width: 500px;
    }
  }
  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }
  h6 {
    color: #44bd32;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    font-size: 17px;
  }
  p strong {
    font-weight: 600;
  }
}
.ime-pro {
  margin-left: 110px;
  h5 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    color: #8c7ae6;
  }
  h6 {
    color: #44bd32;
    margin: 45px 0 40px 0;
    font-size: 25px;
  }
}
.row-prozori {
  width: 80%;
  margin: 0 auto;
  img {
    max-width: 300px;
  }
}
.pro-kar {
  margin-bottom: 50px;
  width: 80%;
  margin: 0 auto 50px;
  .b1p {
    display: flex;
    justify-content: center;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

.breadcrumb {
  .deactive a {
    text-decoration: none;
    color: #6c757d;
    &:hover {
      border-bottom: 1px solid #273c75;
    }
  }
}

.cont {
  width: 70%;
  margin: 10px auto;

  h1 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Paytone One", sans-serif;
    color: #40739e;
    opacity: 0.9;
    margin: 15px 0;
  }
  .iqPRO {
    display: flex;
    img {
      width: 300px;
      height: 300px;
    }
    p {
      margin: 25px auto;
    }
  }
  .itemS8 {
    display: flex;
    ul {
      width: 30%;
      margin: 0 10px;
      li {
        margin: 10px;
      }
    }
  }
}

.tab-cijene {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 0;
  .box-pro-c {
    width: 30%;
    margin: 0 50px;
    .nasl-pro {
      display: flex;
      h4 {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #44bd32;
        letter-spacing: 1px;
        font-family: "Paytone One", sans-serif;
      }
      img {
        width: 200px;
      }
    }
    table {
      font-size: 15px;
      td {
        width: 30%;
      }
    }
  }
}
/*******************************************VRATA*******************************************/
.proiz-bread a {
  color: $parText;
}
.card-img-top {
  width: 60%;
  min-height: 140px;
  margin: auto;
}
.breadcrumb {
  min-height: 2vh;
  font-size: 15px;
  padding-left: 110px;
}

.headVrata {
  text-align: center;
  padding: 0;
  h1 {
    font-weight: 700;
    margin: 45px 0;
  }
}

.podnaslov {
  text-align: center;
  img {
    width: 60%;
    height: 60%;
  }
  h5 {
    font-size: 24px;
    font-weight: 800;
    color: #c23616;
    margin: 47px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #353b48;
  }
}

.vrata-pro {
  width: 70%;
  margin: 0 auto 80px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  grid-auto-flow: column;

  .boxv {
    text-align: center;
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
  img {
    width: 170px;
    height: 320px;
    margin: 10px 40px;
  }
  .pp {
    img {
      width: 200px;
      height: 280px;
    }
  }
}

////////////////////////////////////////////////OSTALI PROIZVODI
.ostalipro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 70px;
  width: 70%;
  margin: 0 auto 60px;

  .ostaliImg {
    margin: auto;

    img {
      max-width: 400px;
    }
  }
}
.j-onama {
  p {
    font-size: 1.2rem;
  }
  li {
    margin: 15px 0;
    font-size: 1.1rem;
  }
}

//////////////////////////////////////////////////SOCIAL MEDIA
.socialMedia {
  display: flex;
  position: fixed;
  bottom: 7%;
  left: 91%;
  img {
    width: 50px;
    margin: 0 3px;
    transition: 1s;
    &:hover {
      width: 80px;
      box-shadow: -14px 20px 16px -4px rgba(0, 0, 0, 0.63);
    }
  }
}

////////////////////////////////////////////////MEDIA
@media screen and (max-width: 1230px) {
  .s89 {
    width: 100%;
    a {
      font-size: 23px;
    }
  }

  .cont {
    width: 90%;
    .itemS8 {
      ul {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .nav-item a {
      margin: 0 5px;
      font-size: 13px;
    }
    ul {
      width: 620px;
    }
  }
  .jumbotron-fluid {
    .col-md-12 {
      margin-left: 5%;
    }
  }
  .jumbotron {
    width: 100%;
    margin: auto;
  }
  .cont {
    width: 90%;
    margin: auto;
    .itemS8 {
      ul {
        font-size: 15px;
        li {
          width: 100%;
        }
      }
    }
  }
  .proizvodi {
    width: 80%;
    li {
      margin: 0 10px;
    }
    a {
      font-size: 18px;
    }
  }
  .headVrata {
    h1 {
      font-size: 36px;
      margin: 20px 0;
    }
  }

  .card-pro {
    .m {
      margin-bottom: 20px;
    }
    .card {
      max-height: 400px;
      max-width: 250px;
      box-shadow: 0 8px 6px -6px rgb(39, 39, 39);
    }
    h5 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    .btn {
      width: auto;
      font-size: 14px;
    }
  }
  .breadcrumb {
    padding-left: 65px;
    .breadcrumb-item {
      font-size: 14px;
    }
  }
  .row-nas {
    .col-xl-5 {
      img {
        margin-left: 30%;
        width: 300px;
      }
    }
  }
  .vrata-pro {
    width: 90%;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .s89 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    .s8 {
      margin: 0 0 20px;
    }
    a {
      font-size: 20px;
    }
  }
  .jumbotron-fluid {
    padding: 20px;

    .row-nas {
      width: 90%;

      p {
        margin-bottom: 30px;
      }
      h1 {
        font-size: 45px;
      }
    }
  }
  .onama {
    width: 90%;
  }
  .question {
    width: 100vw;
    h1 {
      font-size: 34px;
    }
    p {
      font-size: 20px;
    }
  }
  .h3proiz {
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .proizvodi {
    width: 95%;
    padding-bottom: 15px;
    a {
      font-size: 1rem;
    }
  }
  .naslov {
    padding: 0;
    .row-nas {
      padding: 20px 0;
      width: 100%;
      p {
        margin: 15px auto;
        font-size: 1rem;
      }
      h6 {
        font-size: 1.1rem;
      }
      img {
        width: 200px;
        margin-left: 35%;
      }
    }
    h1 {
      font-size: 1.4rem;
    }
  }
  .ime-pro {
    margin-left: 7%;

    h5 {
      font-size: 20px;
      margin: 10px 0;
    }
    h6 {
      margin: 10px 0;
    }
  }
  .row-prozori {
    text-align: center;
    img {
      width: 200px;
    }
  }
  .b1p {
    img {
      width: 300px;
    }
  }
  .cont {
    h1 {
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 1px;
    }
    .iqPRO {
      display: flex;

      p {
        margin: 25px auto;
      }
    }
    .itemS8 {
      display: flex;
      flex-direction: column;
      ul {
        width: 100%;
      }
    }
  }

  .tab-cijene {
    .box-pro-c {
      width: 70%;

      .nasl-pro {
        h4 {
          font-size: 16px;
        }
        img {
          width: 200px;
        }
      }
      table {
        font-size: 15px;
        td {
          width: 40%;
        }
      }
    }
  }
  .cijenik {
    a {
      font-size: 1.2rem;
    }
    p {
      margin-top: 30px;
    }
  }
  .breadcrumb {
    padding-left: 35px;
    .breadcrumb-item {
      font-size: 12px;
    }
  }
  .j-onama {
    text-align: start;
    h1 {
      font-size: 45px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
    ul {
      font-size: 20px;
    }
  }
  .ostalipro {
    grid-gap: 5px;
  }
  .socialMedia {
    position: sticky;
    bottom: 7%;

    img {
      width: 45px;
    }
  }
}

@media screen and (max-width: 425px) {
  .jumbotron-fluid {
    padding: 15px 0;

    .row-nas {
      width: 90%;
      margin-bottom: 40px;
      h1 {
        font-size: 37px;
        text-shadow: none;
        margin-bottom: 10px;
      }
      .lead {
        font-size: 1.1rem;
        width: 80vw;
      }
      .im {
        padding-left: 15px;
        margin-left: 15%;
        img {
          width: 270px;
          height: 400px;
        }
      }
      .btn {
        width: 240px;
        margin: 0 0 30px;
        font-size: 15px;
      }
    }
  }
  .br {
    padding: 0;
    margin-bottom: 15px;
    h1 {
      font-size: 25px;
      padding-bottom: 15px;
    }
  }
  .onama {
    width: 96%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    p {
      font-size: 17px;
      margin-top: 25px;
    }
    .btn {
      font-size: 17px;
      margin-top: 0;
    }
  }
  .carousel-inner {
    width: 90%;
    margin-bottom: 30px;
  }

  .h3proiz {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .proizvodi {
    margin-bottom: 30px;
    padding-bottom: 20px;
    a {
      font-size: 18px;
    }
  }
  .cijenik {
    margin-bottom: 30px;
    p {
      font-size: 25px;
    }
    a {
      font-size: 18px;
    }
    .btn {
      width: 200px;
    }
  }
  .question {
    padding-bottom: 5px;

    h1 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
  }
  .cijenik {
    margin: 20px 0 0;
  }
  .kontakt {
    h1 {
      font-size: 25px;
      padding-bottom: 30px;
    }
    p {
      font-size: 16px;
    }
    h2 {
      font-size: 23px;
    }
    .box {
      margin: 30px auto;
    }
  }
  .s89 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    .s8 {
      margin: 0 0 20px;
      width: 300px;
    }
    .s9 {
      width: 300px;
    }
    a {
      font-size: 17px;
    }
  }

  .row-prozori {
    img {
      width: 150px;
    }
  }

  .cont {
    .iqPRO {
      display: flex;
      flex-direction: column;
    }
  }

  .tab-cijene {
    .box-pro-c {
      width: 100%;

      .nasl-pro {
        h4 {
          font-size: 16px;
        }
        img {
          width: 150px;
        }
      }
      table {
        font-size: 13px;
        td {
          width: 100%;
        }
      }
    }
  }
  footer {
    p {
      font-size: 14px;
    }
  }

  .breadcrumb {
    padding-left: 25px;
    .breadcrumb-item {
      font-size: 11px;
    }
  }
  .vrata-pro {
    width: 100%;
    justify-content: center;
  }
  .naslov {
    padding: 0;
    h1 {
      font-size: 1.2rem;
    }
  }
  .jumbotron-fluid {
    .row-nas {
      img {
        margin-left: 25%;
      }
      h1 {
        font-size: 1.6rem;
      }
      h6 {
        font-size: 18px;
      }
      .lead {
        font-size: 16px;
      }
    }
  }
  .podnaslov {
    text-align: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .ime-pro {
    h6 {
      font-weight: 700;
      font-size: 18px;
    }
  }
  .pro-kar {
    p {
      font-size: 14px;
    }
  }
  .j-onama {
    width: 90%;
    text-align: start;
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
    li {
      font-size: 14px;
    }
  }

  .ostalipro {
    .ostaliImg {
      order: 2;
    }
  }
  .jumbotron-fluid .row-nas .im img {
    margin: 0;
  }

  .socialMedia {
    position: sticky;
    bottom: 7%;

    img {
      width: 40px;
    }
  }
}
